@page "/error"

<PageTitle>خطا</PageTitle>

<div class="container text-center mt-5">
    <h1 class="text-danger">خطایی رخ داده است</h1>
    <p>متاسفیم، در سیستم خطایی رخ داده است.</p>
    <a href="/" class="btn btn-primary">بازگشت به صفحه اصلی</a>
</div>